body{
    background-color: white;
}

h1{
    color: #13a3a8;
}

p{
    color: red;
}

.exemplo_background{
    height: 300px;
    background-color: gray;
    background-image: url("../../Image/background.jpg");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;



    /* Podemos chamar os atributos background desta maneira.*/
    background: gray url('../../Image/background.jpg') no-repeat center cover;

}