.borda{
    border: 1px solid red;
}

p{
     
}

li{
    display: inline;
}
li.lii{
    display: inline;
}

.aa{
    display: inline-block;
    padding: 30px;
}


#p1:hover{
    display: none;
}

.amarelo{
    background-color: yellow;
}
.rosa{
    background-color: palevioletred;
}
.azul{
    background-color: rgb(0, 153, 255);
}
div{
    width: 33%;
    height: 150px;
    display: inline-block;
}
