/* Smartphones (600px para baixo) */
@media only screen and (max-width: 600px) {
    body{
        background-color: blue;
    }

}

/* Dispositivos um pouco maiores, mas ainda pequenos (Pequenos Tablets e Smartphones + largos, 600px para cima) */
@media only screen and (min-width: 600px) {
    background-color: green;
}

/*Dispostivos Médios (Tablets deitados, 768px para cima) */
@media only screen and (min-width: 768px) {
    background-color: ;

}

/* Dispostivos Largos (laptops/desktops, 992px para cima) */
@media only screen and (min-width: 992px) {

}

/* Super Largos (Telas maiores laptops, desktops e até TVs, 1200px para cima) */
@media only screen and (min-width: 1200px) {

}

h1{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-weight: lighter;

}